.container {
    margin: 50px auto;
}
.error {
    color: #ff3f80;
    font-size: 14px;
}
button {
    text-decoration: none;
    background: #273746;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}
.form-card {
    width: 700px;
}